Repository graphcore/tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright-linter, trademark-linter, url-linter, fstring-linter, pytest-linter

.pre-commit-config.yaml:

# Copyright (c) 2022 Graphcore Ltd. All rights reserved.
---
exclude: |
  (?x)^(
      .arcconfig|
      .*\.gitignore|
      utils/lint/codespell_ignore.txt
  )$
repos:
  - repo: local
    hooks:
      - id: copyright-linter
        name: Copyright linter
        description: Ensures that files have the proper copyright line.
        entry: python3 -m utils.lint.linters.copyright_linter
        language: python
        exclude: |
          (?x)^(
            .*\.txt|
            .*\.json|
            .*\.jp(e?)g|
            .*\.png|
            .*\.pth|
            .*\.ini|
            .*Makefile|
            .*ipynb|
            .*LICENSE|
            .*COPYRIGHT
          )$
        additional_dependencies:
          # dataclasses was introduced in Python 3.7
          # For python 3.6 it therefore needs to be added as a dependency
          - dataclasses
          - GitPython
      - id: trademark-linter
        name: Trademark linter
        description: Ensures that files have the proper trademark line.
        entry: python3 -m utils.lint.linters.trademark_linter
        language: python
        exclude: |
          (?x)^(
            utils/lint/linters/trademark_linter.py|
            utils/tutorials_tests/test_lint/test_trademark_lint.py|
            .+requirements\.txt|
            .+\.json|
            .*\.jp(e?)g|
            .*\.png|
            .*\.pth
          )$
      - id: url-linter
        name: URL linter
        description: Ensures that URLs in files are correct.
        entry: python3 -m utils.lint.linters.url_linter
        language: python
        require_serial: true
        files: |
          (?x)^(
              .+\.txt|
              .+\.md|
              .*\.ipynb|
              .*\.rst
          )$
        additional_dependencies:
          - requests
      - id: fstring-linter
        name: f-string linter
        description: Ensures that we use Python 3.6 f-strings over .format().
        entry: python3 -m utils.lint.linters.fstring_linter
        language: python
        require_serial: true
        files: (?x).*\.py$
      - id: pytest-linter
        name: Pytest linter
        description: Ensures that tests use Pytest (not unittest or SubProcessChecker).
        entry: python3 -m utils.lint.linters.pytest_linter
        language: python
        require_serial: true
        files: (?x).*\.py$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 21.12b0 # Matching black used by blacken-docs
    hooks:
      - id: black
        additional_dependencies:
          - click==8.0.4
      - id: black-jupyter
        additional_dependencies:
          - click==8.0.4
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0 # Newest version that supports Python 3.6
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==21.12b0 # Newest version that supports blacken-docs==1.12.0
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      # Install with pip3 install clang-format==9.0.0
      - id: clang-format
        args: [
            -i, # Fix inplace
            --style=file, # Use .clang-tidy
          ]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args: [
          -I,
          utils/lint/codespell_ignore.txt,
        ]
        exclude: cspell.json

Poplar SDK release 3.0 update 2
  tutorials/popvision/reading_pvti_files/requirements.txt
  tutorials/pytorch/efficient_data_loading/walkthrough.ipynb
Due: trademark-linter, url-linter

Poplar SDK release 3.0 update 3
  blogs_code/gnns/README.md
  blogs_code/gnns/graph_packing.ipynb
  blogs_code/gnns/graph_packing_files/graph_packing_11_1.png
  blogs_code/gnns/graph_packing_files/graph_packing_11_2.png
  blogs_code/gnns/graph_packing_files/graph_packing_11_3.png
  blogs_code/gnns/graph_packing_files/graph_packing_11_4.png
  blogs_code/gnns/graph_packing_files/graph_packing_12_1.png
  blogs_code/gnns/graph_packing_files/graph_packing_12_2.png
  blogs_code/gnns/graph_packing_files/graph_packing_12_3.png
  blogs_code/gnns/graph_packing_files/graph_packing_12_4.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_1.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_10.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_11.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_13.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_14.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_2.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_4.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_5.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_7.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_8.png
  blogs_code/gnns/graph_packing_files/graph_packing_30_0.png
  pytest.ini
  tutorials/pytorch/basics/requirements.txt
  tutorials/pytorch/efficient_data_loading/README.md
  tutorials/pytorch/efficient_data_loading/walkthrough.ipynb
  tutorials/pytorch/efficient_data_loading/walkthrough.py
  tutorials/pytorch/efficient_data_loading/walkthrough_code_only.py
  tutorials/pytorch/finetuning_bert/Fine-tuning-BERT.ipynb
  tutorials/pytorch/finetuning_bert/Fine-tuning-BERT.py
  tutorials/pytorch/finetuning_bert/static/bert-pipelining-pod4.png
  tutorials/pytorch/finetuning_bert/tests/test_finetuning_notebook.py
  tutorials/pytorch/observing_tensors/requirements.txt
  tutorials/pytorch/pipelining/requirements.txt
  tutorials/pytorch/vit_model_training/requirements.txt
  tutorials/pytorch/vit_model_training/tests/test_vit_model.py
  tutorials/pytorch/vit_model_training/walkthrough.ipynb
Due: copyright-linter, trademark-linter, url-linter, fstring-linter, pytest-linter

Poplar SDK release 3.1 Update Â2
  blogs_code/gnns/README.md
  blogs_code/gnns/graph_packing.ipynb
  blogs_code/gnns/graph_packing_files/graph_packing_11_1.png
  blogs_code/gnns/graph_packing_files/graph_packing_11_2.png
  blogs_code/gnns/graph_packing_files/graph_packing_11_3.png
  blogs_code/gnns/graph_packing_files/graph_packing_11_4.png
  blogs_code/gnns/graph_packing_files/graph_packing_12_1.png
  blogs_code/gnns/graph_packing_files/graph_packing_12_2.png
  blogs_code/gnns/graph_packing_files/graph_packing_12_3.png
  blogs_code/gnns/graph_packing_files/graph_packing_12_4.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_1.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_10.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_11.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_13.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_14.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_2.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_4.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_5.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_7.png
  blogs_code/gnns/graph_packing_files/graph_packing_14_8.png
  blogs_code/gnns/graph_packing_files/graph_packing_30_0.png
  tutorials/README.md
  tutorials/pytorch/pipelining/walkthrough.ipynb
  tutorials/pytorch/vit_model_training/walkthrough.ipynb
  utils/benchmarks/tensorflow/README.md
  utils/benchmarks/tensorflow/benchmark.py
  utils/tutorials_tests/urls_test/test_urls.py
Due: copyright-linter, trademark-linter, url-linter, fstring-linter, pytest-linter

Update Paperspace gradient links
  release-commit-log-3.0.txt
  tutorials/README.md
Due: copyright-linter, trademark-linter, url-linter

February update - Fix PopXL tutorials
  feature_examples/popart/phased_execution/phased_execution.py
  feature_examples/pytorch/popdist/README.md
  release-commit-log-3.0.txt
  tutorials/popvision/libpva/tests/README.md
  tutorials/popvision/libpva/tests/pytorch_test_tuto_libpva.py
  tutorials/popvision/libpva/tests/requirements.txt
  tutorials/popxl/1_basic_concepts/requirements.txt
  tutorials/popxl/2_custom_optimiser/requirements.txt
  tutorials/popxl/3_data_parallelism/requirements.txt
  tutorials/popxl/4_pipelining/requirements.txt
  tutorials/popxl/5_remote_variables_and_rts/images/al_remote_onChip.png
  tutorials/popxl/5_remote_variables_and_rts/images/collectives.png
  tutorials/popxl/5_remote_variables_and_rts/images/ipu_indices.png
  tutorials/popxl/5_remote_variables_and_rts/images/nal_remote_onChip.png
  tutorials/popxl/5_remote_variables_and_rts/images/program_structure.png
  tutorials/popxl/5_remote_variables_and_rts/images/shard_non_shard_al.png
  tutorials/popxl/5_remote_variables_and_rts/images/shard_non_shard_nal.png
  tutorials/popxl/5_remote_variables_and_rts/images/transpose.png
  tutorials/popxl/5_remote_variables_and_rts/images/variables_tp_dp.png
  tutorials/popxl/5_remote_variables_and_rts/mnist.ipynb
  tutorials/popxl/5_remote_variables_and_rts/mnist.py
  tutorials/popxl/5_remote_variables_and_rts/replica_groupings.ipynb
  tutorials/popxl/5_remote_variables_and_rts/requirements.txt
  tutorials/popxl/5_remote_variables_and_rts/tests/test_popxl_remote_variables.py
  tutorials/popxl/6_phased_execution/mnist.ipynb
  tutorials/popxl/6_phased_execution/mnist.py
  tutorials/popxl/6_phased_execution/requirements.txt
  utils/tutorials_tests/urls_test/link_parsers.py
Due: copyright-linter, trademark-linter, url-linter, fstring-linter, pytest-linter

Fix broken link to new location
  README.md
Due: copyright-linter, trademark-linter, url-linter
